---
import { releases } from './data/releases';
import ReleaseItem from './releases/ReleaseItem.astro';
---

<div class="not-prose space-y-4">
  {releases.map((release, index) => <ReleaseItem release={release} open={index === 0} latest={index === 0} />)}
</div>
